
game2.py
CreationBoards.py
CreationBoardsF1.py
game3.py
grid.py
grid_Francois.py
QtQuick_test.py
PySide_test.py
view.qml
view.qml.py
view.qml.txt
uml/117.session
uml/128117
uml/cpp_includes
uml/generation_settings
uml/idl_includes
uml/java_imports
uml/python_imports
uml/stereotypes
uml/tools
uml/uml.prj
ricochet/.spyproject/codestyle.ini
ricochet/.spyproject/encoding.ini
ricochet/.spyproject/vcs.ini
ricochet/.spyproject/workspace.ini
old.vscode/settings.json
*.pyc
*.pyc
.vscode/settings.json
__pycache__/game.cpython-37.pyc
__pycache__/game.cpython-37.pyc
version2/.~lock.graphe du jeu.odg#
graphe du jeu.pdf
version2/graphe du jeu.odg
version2/tip_game.json
version2/icons/E.png
version2/icons/Empty.png
